.form-group {
  margin-bottom: 10px;
  label {
    font-weight: 500;
    margin-bottom: 5px;
  }
}

button {
  margin-right: 10px;
}

.error {
  color: red;
}

.ng-valid {
  border-color: green;
}
.ng-invalid.ng-touched {
  border-color: red;
}
