<h1 class="p-20">Ajouter une nouvelle référence</h1>

<form [formGroup]="windowForm" (ngSubmit)="submit()">

  <mat-card class="container "
  >
    <div fxLayout="row wrap"
         fxLayoutAlign="space-between space-between"
         fxLayoutGap="3px">
      <mat-form-field  class="" appearance="fill">
        <mat-label>brand</mat-label>
        <input #myinput  (keydown)="test()" formControlName="brand" matInput [formControl]="myControl" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
          <mat-option (click)="setBrand(brand); test()"  *ngFor="let brand of filteredOptions | async" [value]="brand">
            {{brand.brandName}}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="windowForm.controls['brand'].hasError('required')">
          Please enter a value
        </mat-error>
        <mat-error *ngIf="windowForm.controls['brand'].hasError('incorrect')">
          Please select a valid project
        </mat-error>
      </mat-form-field>





<!--      <mat-form-field class="" appearance="fill">-->
<!--        <mat-label>brand</mat-label>-->
<!--        <input (click)="test()" formControlName="brand" matInput [formControl]="myControl" [matAutocomplete]="auto">-->
<!--        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">-->
<!--          <mat-option *ngFor="let brand of filteredOptions | async" [value]="brand">-->
<!--            {{brand.brandName}}-->
<!--          </mat-option>-->
<!--        </mat-autocomplete>-->
<!--      </mat-form-field>-->




<!--      <mat-form-field appearance="fill">-->
<!--        <mat-label>Favorite food</mat-label>-->
<!--        <mat-select formControlName="brand">-->
<!--          <mat-option *ngFor="let brand of brands" [value]="brand">-->
<!--            {{brand.brandName}}-->
<!--          </mat-option>-->
<!--        </mat-select>-->
<!--      </mat-form-field>-->


      <!--    <div *ngIf="brand.errors && brand.touched">-->
      <!--      <p class="error" *ngIf="brand.errors.required">-->
      <!--        test-->
      <!--      </p>-->
      <!--    </div>-->


      <div class="">
        <mat-form-field appearance="fill">
          <mat-label>type</mat-label>
          <input type="text" formControlName="type" matInput>
        </mat-form-field>
      </div>

      <div class="">
        <mat-form-field appearance="fill">
          <mat-label>Model</mat-label>
          <input formControlName="model" matInput>
        </mat-form-field>
      </div>

      <!--      <div class="">-->
      <!--        <mat-form-field appearance="fill">-->
      <!--          <mat-label>Prix</mat-label>-->
      <!--          <input type="number" formControlName="unitSalePrice" matInput>-->
      <!--        </mat-form-field>-->
      <!--      </div>-->
    </div>
    <hr>
    <div class="actions "
         fxLayoutAlign="end">
      <button [disabled]="windowForm.invalid" class="btn btn-primary">Valider</button>
      <button mat-button color="accent" type="button" routerLink=".." class="btn btn-secondary">Annuler</button>
    </div>
  </mat-card>


</form>
