<h1 class="p-20">Ajouter une nouvelle référence</h1>
<form [formGroup]="windowForm" (ngSubmit)="submit()">
  <mat-card class="container ">
    <h2>Information de la voiture</h2>
    <div fxLayout="row wrap"
         fxLayoutAlign="space-between space-between"
         fxLayoutGap="3px">
      <mat-form-field class="" appearance="fill">
        <mat-label>brand</mat-label>
        <input #myinput (keydown)="setBrandDownKey()" formControlName="brand" matInput [formControl]="myControl"
               [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
          <mat-option (click)="setBrand(brand); setBrandDownKey()" *ngFor="let brand of filteredOptions | async"
                      [value]="brand">
            {{brand.brandName}}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="windowForm.controls['brand'].hasError('required')">
          Please enter a value
        </mat-error>
        <mat-error *ngIf="windowForm.controls['brand'].hasError('incorrecte')">
          Please select a valid project
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Type de carroserie</mat-label>
        <mat-select formControlName="body">
          <mat-option *ngFor="let body of bodyShellType" [value]="body">
            {{body.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="this.body">
          Please enter a value
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Model</mat-label>
        <mat-select formControlName="model">
          <mat-option *ngFor="let model of models | async" [value]="model">
            {{model.modelName}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="this.windowsType">
          Please enter a value
        </mat-error>
      </mat-form-field>

    </div>

    <hr>
    <h2>Information de la vitre</h2>

    <div fxLayout="row wrap"
         fxLayoutAlign="space-between space-between"
         fxLayoutGap="3px">
      <mat-form-field appearance="fill">
        <mat-label>Type de la fenêtre</mat-label>
        <mat-select formControlName="windowsType">
          <mat-option *ngFor="let type of windowsType" [value]="type">
            {{type.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="this.windowsType">
          Please enter a value
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Code</mat-label>
        <input formControlName="code" matInput type="text" value="code">
        <!--        <mat-error *ngIf="windowForm.controls['code'].hasError('required')">-->
        <mat-error *ngIf="this.code">
          Please enter a value
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Nom</mat-label>
        <input formControlName="name" matInput type="text" value="name">
        <mat-error *ngIf="this.name">
          Please enter a value
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Prix de vente</mat-label>
        <input formControlName="unitSalePrice" matInput type="number" value="unitSalePrice">
      </mat-form-field>
    </div>
    <hr>
<!--    <mat-form-field class="w-100" appearance="fill">-->
<!--      <mat-label>Options</mat-label>-->
<!--      <mat-select formControlName="option">-->
<!--        <mat-option *ngFor="let option of optionsWindows" [value]="option">-->
<!--          {{option.name}}-->
<!--        </mat-option>-->
<!--      </mat-select>-->
<!--      <mat-error *ngIf="this.optionsWindow">-->
<!--        Please enter a value-->
<!--      </mat-error>-->
<!--    </mat-form-field>-->

    <h2>Options</h2>
    <button mat-button color="primary" type="button" (click)="addOption()">+ Add another option</button>
    <div formArrayName="optionsWindows">
      <div *ngFor="let option of optionsWindows.controls; let i=index">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Options</mat-label>
          <mat-select [formControlName]="i">
            <mat-option *ngFor="let option of optionsWin" [value]="option">
              {{option.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="this.optionsWindows">
            Please enter a value
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <hr>
    <div class="actions "
         fxLayoutAlign="end">
      <button [disabled]="windowForm.invalid" class="btn btn-primary">Valider</button>
      <button mat-button color="accent" type="button" routerLink=".." class="btn btn-secondary">Annuler</button>
    </div>


  </mat-card>


</form>
